@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body,
html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 7%;
    color: #eee;
    margin: 0;
}

.heading{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 7%;
    padding: 0% 10%;
    margin-bottom: 0;
}

.heading h1{
    align-self: center;
    text-align: center;
}


header h1 {
    color: #eee;
    align-self: center;
    justify-self: start;
}

header a {
    text-decoration: none;
    color: #eee;
    align-self: center;
    transition: 1s;
}

header a:hover {
    color: rgb(156, 24, 148);
}

.header__lang-select {
    display: flex;
    flex-direction: row;
    width: 80px;
    align-self: center;
    height: 70%;
}

.header__lang-select:hover .lang-select__flag{
    background: rgb(94, 87, 87);
}
.header__lang-select:hover .lang-select__let{
    background: rgb(94, 87, 87);
}

.lang-select__flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    background: rgb(70, 67, 67);
    transition: 1s;
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lang-select__flag img {
    height: 15px;
    width: 25px;
}

.lang-select__let {
    display: flex;
    align-items: center;
    background: rgb(70, 67, 67);
    width: 40px;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #eee;
    transition: 1s;

}

.flags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(70, 67, 67);
    padding: 7px 0;
    padding-bottom: 3px;
    width: 40px;
    z-index: 16;
    margin: 0;
    position: fixed;
    right: 16%;
    top: 6.5%;
    visibility: hidden;
}

.flags img {
    height: 15px;
    width: 25Fpx;
    margin-bottom: 10px;
}

.products {
    margin-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.product p {
    text-align: center;
}

.pres {
    text-decoration: none;
    background: rgb(116, 11, 109);
    color: #eee;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}

.pres:hover {
    background: #111;
    transform: translateY(-10%)
}

.product img {
    height: 350px;
    width: auto;
    margin-bottom: 5%;
}

footer {
    background: #2e2d2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    padding: 5% 4%;
    padding-top: 1%;
    height: 100vh;
}

footer a {
    color: #eee;
    text-decoration: none;
    text-align: center;
}

footer h1:nth-child(2){
    text-align: center;
}

footer p {
    margin: 0;
    margin-bottom: 5%;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    margin-bottom: 3%;
    margin-right: 3%;
}

.media a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.media a:hover {
    opacity: 0.5;
}

.media a img {
    height: 100px;
    width: 100px;
}

.media:nth-child(2) a img {
    height: 90px;
    width: 120px;
}

.media:nth-child(1) a img {
    height: 80px;
    align-self: bottom;
    margin-top: 7%;
}

.media:nth-child(3) a img {
    height: 90px;
    width: 90px;
}

.pop-up{
    padding: 1% 5%;
    display: none;
}

input,select{
    width: 30%;
    outline: none;

}

#subm{
    margin-top: 1%;
    width: 10%;
    border-radius: 5px;
    color: #eee;
    background: rgb(116,11,109);
    border: none;
    outline: none;
    transition: 1s;
}

#subm:hover{
    background: rgb(197, 30, 186);
}

.pop-up form{
    display: flex;
    flex-direction: column;
}

@media(max-width:950px) {
   .product  img{
        height: 80%;
        width: 80%;
    }

    .product h2{
        font-size: 1rem;
    }

    .products{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
    }

     h2, p{
        font-size: 50%;
    }

    h1{
        font-size: 70%;
    }

    .lang-select__let p{
        font-size: 1.2rem;
    }

    a{
        font-size: 70%
    }

    footer{
        padding-bottom: 5%;
    }

    .heading{
        margin-top: 100px;
    }
    
}