@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 7%;
    color: #eee;
}

header h1 {
    color: #eee;
    align-self: center;
    justify-self: start;
}

header a {
    text-decoration: none;
    color: #eee;
    align-self: center;
    transition: 1s;
}

header a:hover {
    color: rgb(156, 24, 148);
}

.header__lang-select {
    display: flex;
    flex-direction: row;
    width: 80px;
    align-self: center;
    height: 70%;
}

.lang-select__flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    background: rgb(70, 67, 67);
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lang-select__flag img {
    height: 15px;
    width: 25px;
}

.lang-select__let {
    display: flex;
    align-items: center;
    background: rgb(70, 67, 67);
    width: 40px;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #eee;
}

.flags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(70, 67, 67);
    padding: 7px 0;
    padding-bottom: 3px;
    width: 40px;
    z-index: 16;
    margin: 0;
    position: fixed;
    right: 8%;
    top: 7%;
    visibility: hidden;
}

.flags img {
    height: 15px;
    width: 25Fpx;
    margin-bottom: 10px;
}

.products {
    margin-top: 10%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.product p {
    text-align: center;
}

.product a {
    text-decoration: none;
    background: rgb(116, 11, 109);
    color: #eee;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
}

.product a:hover {
    background: #111;
    transform: translateY(-10%)
}

.product img {
    height: 300px;
    width: auto;
}