@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 7%;
}

header h1 {
    color: #eee;
    align-self: center;
}

.header__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: 1.1rem;
}

.header__links a {
    color: #eee;
    text-decoration: none;
    transition: 1s;
}

.header__links a:hover {
    color: rgb(156, 24, 148);
}

.header__lang-select {
    display: flex;
    flex-direction: row;
    width: 80px;
    align-self: center;
    height: 70%;
}

.header__lang-select:hover .lang-select__flag {
    background: rgb(119, 117, 117);
}

.header__lang-select:hover .lang-select__let {
    background: rgb(119, 117, 117);
}

.lang-select__flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    background: rgb(70, 67, 67);
    width: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 1s;
}

.lang-select__flag img {
    height: 15px;
    width: 25px;
}

.lang-select__let {
    display: flex;
    align-items: center;
    background: rgb(70, 67, 67);
    width: 40px;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #eee;
    transition: 1s;
}

.flags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(70, 67, 67);
    padding: 7px 0;
    padding-bottom: 3px;
    width: 40px;
    z-index: 16;
    margin: 0;
    position: fixed;
    right: 8%;
    top: 7%;
    visibility: hidden;
}

.flags img {
    height: 15px;
    width: 25Fpx;
    margin-bottom: 10px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

.init {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.init__btn {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #eee;
    border-radius: 10px;
    padding: 1%;
    padding-top: 0.5%;
    transition: 1s;
    width: 15%;
    text-align: center;
    background: rgb(48, 46, 46)
}

.init__btn:hover {
    background: #eee;
    color: #111;
}

.header__links a:hover {
    color: rgb(156, 41, 179);
}

.curtain {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

@media(max-width: 850px) {
    header a {
        font-size: 60%;
        margin-left: 2px;
    }
    header h1 {
        font-size: 70%;
        font-weight: 600;
    }
    video {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .init__btn {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 400;
        background: rgb(48, 46, 46);
        color: #eee;
        border-radius: 5px;
        padding: 1%;
        padding-top: 0.5%;
        transition: 1s;
        width: 30%;
    }
    .init {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    video {
        background: rgb(4, 7, 48);
    }
}